/*
<!---
||PACKAGENAMELICENSE||
--->
*/
/* @start layout
============================================================================================= */
#content {
	width: 830px;
	padding: 25px 0 0 25px;
	margin: 0;
}
#meld-plugin {
	margin: 0 0 100px 0;
}
#meld-content {
	margin: 0 0 100px 0;
}
#meld-nav {
	margin: 0 0 15px 0;
	padding: 0;
}
#meld-actions {
	margin: 0 0 5px 0;
	padding: 0;
}
#meld-header {
	margin: 0;
	padding: 0;
}
#meld-bc {
	margin: 0;
	padding: 10px 0;
	padding-left: 5px !important;
	font-size: 85%;
	color: #999;
	float: left;
	width: 500px;
}
#meld-logo {
	background: #fff url('images/meld-logo.png') 0 0 no-repeat;
	width: 273px;
	height: 51px;
	float: right;
	margin: -25px 0 0 0;
}
#meld-logo a {
	display: block;
	width: 100%;
	height: 100%;
}
#meld-bc .delim {
	vertical-align: 8%;
}
#meld-bc .current {
	color: #333;
}
#meld-error {
	margin: 0;
	padding: 0;
	border: 1px solid #800000;
}
#meld-notify {
	margin: 0;
	padding: 0;
	border: 1px solid #000080;
}
#meld-body {
	margin: 0 0 100px 0;
}

#meld-plugin .section {
	margin: 10px 0;
	padding: 10px 0;
	border-top: 1px dotted #eee;
	min-height: 5px;
}

/* @end layout
=================== */

/* @start general
============================================================================================= */

#meld-plugin .left {
	float: left;
}

#meld-plugin .right {
	float: right;
}

#meld-plugin .small {
	font-size: 0.8em;
}
#meld-plugin .gray {
	color: #666;
}
#meld-plugin .license-box {
	border: 1px solid #333;
	overflow-y: scroll;
	height: 200px;
}

/* @end general
=================== */

/* @start dashboard
============================================================================================= */

#meld-plugin .mf-dashboard-columns {
	margin: 0 0 20px 0;
}
#meld-plugin .mf-dashboard-columns table {
	width: 100%;
}
#meld-plugin .mf-dashboard-columns .col {
	float: left;
}
#meld-plugin .mf-dashboard-columns .col.left {
	margin-right: 10px;
	float: left;
	width: 300px;
}
#meld-plugin .mf-dashboard-columns .col.mid {
	margin-right: 10px;
	float: left;
	width: 300px;
}
#meld-plugin .mf-dashboard-columns .col.right {
	width: 200px;
	margin-right: 0;
	float: right;
}

#meld-plugin .mf-dashboard-columns .col.wide-right {
	width: 600px;
	margin-right: 0;
	float: right;
}
.mf-user-icon {
	float: left;
	width: 14px;
	height: 14px;
	margin: 0 5px;
	background-image: url('../images/user.gif');
}

/* @end general
=================== */
