/*
<!---
||PACKAGENAMELICENSE||
--->
*/
/* 	@BEGIN ms-datatable  */
#ms-datatable th {
	white-space: normal;
}
#ms-datatable td {
	text-align: left;
}
#ms-datatable td.center {
	text-align: center;
}
#ms-datatable .searchable {
	width: 95% !important;
}
#ms-datatable a {
	text-decoration: none;
}
#ms-datatable select {
	width: auto;
}


#ms-datatable .varWidth {
	width: 100% !important;
}
#ms-datatable .minWidth {
	min-width: 70px !important;
}
#ms-datatable .bitWidth {
	min-width: 40px !important;
}
#ms-datatable .DataTables_sort_icon {
	float: right;
}
